PORT=8080
GIN_MODE=debug
DB_HOST=localhost
DB_PORT=5432
DB_USER=vites_user
DB_PASSWORD=vites_secure_pass_2026
DB_NAME=vites_db
FIREBASE_CREDENTIALS_PATH=firebase-adminsdk.json
ALLOWED_ORIGINS=*
TEMPLATES_DIR=./storage/templates
RENDER_OUTPUT_DIR=./storage/renders
GOOGLE_PLAY_PACKAGE_NAME=com.iamsorry.vites
GOOGLE_APPLICATION_CREDENTIALS=
SUPER_ADMIN_EMAIL=
